<div class="container is-fluid centered">
  <div class="columns is-vcentered">
    <div class="column">
    </div>
    <div class="column">
      <!-- <div class="block">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="" href="#">
              <img src="assets/fbaudio2.png" alt="FB Audio">
            </a>
          </div>
        </nav>
      </div> -->
      <div class="block">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <div class="field is-grouped">
                <p class="control is-expanded has-icons-left">
                  <input #fbvidurl class="input" [value]="urlValue" (change)="urlValue=$event.target.value" type="text"
                    placeholder="Facebook video url...">
                  <span class="icon is-small is-left">
                    <i class="fab fa-facebook-square"></i>
                  </span>
                </p>
                <p class="control is-expanded">
                  <button #listentbtn [class.is-loading]="isLoading" class="button is-info" (click)="listenBtn()">
                    <span #listenTxt>Get</span>
                    <span class="icon">
                      <i class="fas fa-volume-up"></i>
                    </span>
                  </button>
                </p>
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <div plyr (plyrPlay)="played($event)" [plyrOptions]="plyOptions" plyrTitle="Audio" plyrType="audio"
                [plyrPlaysInline]="true" [plyrCrossOrigin]="true" [plyrSources]="audioSources">
              </div>
              <div class="divider">Play history</div>
              <li *ngFor="let item of playHistoryList">
                {{item.fbUrl}}
              </li>
              <div *ngIf="playHistoryList.length < 1" class="content is-small has-text-centered" style="color: #e6e6e6;">
                Empty
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item" style="font-size: 0.8em;color: #adadad;">
              <span style="margin-right: 3px;">Made with <i class="fas fa-heart"></i> by</span>
              <a target="_blank" href="https://twitter.com/h4ck4life">@h4ck4life</a>
            </p>
          </footer>
        </div>
      </div>
      <!-- <div class="block">
        <div class="card">
          <div class="card-content">
            dsadsa
          </div>
        </div>
      </div> -->

      <div #errorElement class="notification is-danger is-light" style="display: none;">
        <button class="delete" (click)="closeErrorElement($event.target)"></button>
        <i class="fas fa-exclamation-triangle"></i> {{errorMsg}}
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>