<div class="">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
      <div class="block">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="" href="#">
              <img src="assets/fbaudio2.png" alt="FB Audio">
            </a>
          </div>
        </nav>
      </div>
      <div class="block">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input #fbvidurl class="input" [value]="urlValue" (change)="urlValue=$event.target.value" type="text" placeholder="Facebook video url...">
                </p>
                <p class="control is-expanded">
                  <button #listentbtn class="button is-info" (click)="listenBtn()">
                    <span class="icon">
                      <i class="fas fa-volume-up"></i>
                    </span>
                    <span #listenTxt>Get audio</span>
                  </button>
                </p>
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <div plyr (plyrPlay)="played($event)" [plyrOptions]="plyOptions" plyrTitle="Audio" plyrType="audio"
                [plyrPlaysInline]="true" [plyrCrossOrigin]="true" [plyrSources]="audioSources">
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item" style="font-size: 0.8em;color: #adadad;">
              <span style="margin-right: 3px;">Made with love by</span><a target="_blank" href="https://twitter.com/h4ck4life">@h4ck4life</a>
            </p>
          </footer>
        </div>
      </div>
      <div #errorElement class="notification is-danger is-light" style="display: none;">
        <button class="delete" (click)="closeErrorElement($event.target)"></button>
        <i class="fas fa-exclamation-triangle"></i> {{errorMsg}}
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>